[submodule "src/Symfony/Component/Process"]
	path = src/Symfony/Component/Process
	url = http://github.com/symfony/Process.git
[submodule "src/Symfony/Component/Finder"]
	path = src/Symfony/Component/Finder
	url = http://github.com/symfony/Finder.git
[submodule "src/Symfony/Component/Config"]
	path = src/Symfony/Component/Config
	url = http://github.com/symfony/Config.git
[submodule "src/Symfony/Component/ClassLoader"]
	path = src/Symfony/Component/ClassLoader
	url = http://github.com/symfony/ClassLoader.git
[submodule "src/Symfony/Component/BrowserKit"]
	path = src/Symfony/Component/BrowserKit
	url = http://github.com/symfony/BrowserKit.git
[submodule "src/Symfony/Component/Console"]
	path = src/Symfony/Component/Console
	url = https://github.com/symfony/Console.git
