<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         failOnRisky="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="tests/bootstrap.php"
>
    <php>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=0"/>
        <env name="COMPOSER_TEST_SUITE" value="1"/>
    </php>
    <testsuites>
        <testsuite name="Composer Test Suite">
            <directory>./tests/Composer/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>slow</group>
            <group>legacy</group>
        </exclude>
    </groups>

    <coverage>
        <include>
            <directory>./src/Composer/</directory>
        </include>
        <exclude>
            <file>./src/Composer/Autoload/ClassLoader.php</file>
            <directory>./src/Composer/PHPStan/</directory>
        </exclude>
    </coverage>
</phpunit>
