parameters:
	ignoreErrors:
		-
			message: "#^Casting to string something that's already string\\.$#"
			count: 1
			path: ../src/Composer/Autoload/AutoloadGenerator.php

		-
			message: "#^Parameter \\#1 \\$callback of function spl_autoload_register expects \\(callable\\(string\\)\\: void\\)\\|null, array\\{\\$this\\(Composer\\\\Autoload\\\\ClassLoader\\), 'loadClass'\\} given\\.$#"
			count: 1
			path: ../src/Composer/Autoload/ClassLoader.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, array\\<string\\>\\|null given\\.$#"
			count: 2
			path: ../src/Composer/Command/BaseDependencyCommand.php

		-
			message: "#^Only booleans are allowed in an if condition, string\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Command/ConfigCommand.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func expects callable\\(\\)\\: mixed, array\\{Composer\\\\Config\\\\JsonConfigSource, string\\} given\\.$#"
			count: 2
			path: ../src/Composer/Command/ConfigCommand.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Command/DiagnoseCommand.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$arrays of function array_merge expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Command/ExecCommand.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, array\\<int, array\\<string, array\\|string\\>\\>\\|string given\\.$#"
			count: 1
			path: ../src/Composer/Command/ShowCommand.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, array\\|string given\\.$#"
			count: 1
			path: ../src/Composer/Command/ShowCommand.php

		-
			message: "#^Parameter \\#2 \\$callback of function uasort expects callable\\(string, string\\)\\: int, 'version_compare' given\\.$#"
			count: 1
			path: ../src/Composer/Command/ShowCommand.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func expects callable\\(\\)\\: mixed, array\\{Composer\\\\Package\\\\RootPackageInterface, 'getDevRequires'\\|'getRequires'\\} given\\.$#"
			count: 1
			path: ../src/Composer/Command/ValidateCommand.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\{Composer\\\\Json\\\\JsonManipulator, string\\} given\\.$#"
			count: 1
			path: ../src/Composer/Config/JsonConfigSource.php

		-
			message: "#^Parameter \\#2 \\$callback of function uksort expects callable\\(string, string\\)\\: int, 'version_compare' given\\.$#"
			count: 2
			path: ../src/Composer/DependencyResolver/Problem.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Downloader/GzipDownloader.php

		-
			message: "#^Parameter \\#1 \\$stream of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Downloader/GzipDownloader.php

		-
			message: "#^Parameter \\#1 \\$stream of function gzclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Downloader/GzipDownloader.php

		-
			message: "#^Parameter \\#1 \\$stream of function gzread expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Downloader/GzipDownloader.php

		-
			message: "#^Parameter \\#3 \\$length of function fwrite expects int\\<0, max\\>\\|null, int given\\.$#"
			count: 1
			path: ../src/Composer/Downloader/GzipDownloader.php

		-
			message: "#^Parameter \\#1 \\$string of function rawurldecode expects string, string\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Downloader/VcsDownloader.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, int\\<0, max\\>\\|false given\\.$#"
			count: 1
			path: ../src/Composer/EventDispatcher/EventDispatcher.php

		-
			message: "#^Parameter \\#1 \\$stream of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../src/Composer/IO/BufferIO.php

		-
			message: "#^Parameter \\#1 \\$stream of function rewind expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../src/Composer/IO/BufferIO.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Installer/BinaryInstaller.php

		-
			message: "#^Parameter \\#1 \\$stream of function fgets expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Installer/BinaryInstaller.php

		-
			message: "#^Only numeric types are allowed in \\-, int\\|false given on the left side\\.$#"
			count: 1
			path: ../src/Composer/Package/Archiver/PharArchiver.php

		-
			message: "#^Parameter \\#2 \\$baseDirectory of method Phar\\:\\:buildFromIterator\\(\\) expects string\\|null, string\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Package/Archiver/PharArchiver.php

		-
			message: "#^Parameter \\#1 \\$array of function ksort expects array, array\\<int\\|string, mixed\\>\\|string given\\.$#"
			count: 1
			path: ../src/Composer/Package/Dumper/ArrayDumper.php

		-
			message: "#^Only booleans are allowed in an if condition, int\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Plugin/PluginManager.php

		-
			message: "#^Parameter \\#1 \\$array of function array_splice expects array, array\\<Composer\\\\Package\\\\BasePackage\\>\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Repository/ArrayRepository.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, array\\<Composer\\\\Package\\\\BasePackage\\>\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Repository/ArrayRepository.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, array\\<string, int\\>\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Repository/ComposerRepository.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Repository/Vcs/GitLabDriver.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: ../src/Composer/SelfUpdate/Versions.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, string\\|false\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Util/AuthHelper.php

		-
			message: "#^Casting to string something that's already string\\.$#"
			count: 4
			path: ../src/Composer/Util/Filesystem.php

		-
			message: "#^Parameter \\#1 \\$string of function rawurlencode expects string, string\\|null given\\.$#"
			count: 15
			path: ../src/Composer/Util/Git.php

		-
			message: "#^Parameter \\#1 \\$string of function rawurlencode expects string, string\\|null given\\.$#"
			count: 2
			path: ../src/Composer/Util/Hg.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_close expects CurlHandle, resource given\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Parameter \\#1 \\$handle of function curl_getinfo expects CurlHandle, resource given\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Parameter \\#1 \\$haystack of function strpos expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Parameter \\#1 \\$multi_handle of function curl_multi_add_handle expects CurlMultiHandle, resource\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Parameter \\#1 \\$multi_handle of function curl_multi_exec expects CurlMultiHandle, resource\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Parameter \\#1 \\$multi_handle of function curl_multi_info_read expects CurlMultiHandle, resource\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Parameter \\#1 \\$multi_handle of function curl_multi_remove_handle expects CurlMultiHandle, resource\\|null given\\.$#"
			count: 2
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Parameter \\#1 \\$multi_handle of function curl_multi_select expects CurlMultiHandle, resource\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Parameter \\#1 \\$string of function rtrim expects string, string\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Parameter \\#2 \\$handle of function curl_multi_remove_handle expects CurlHandle, resource given\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Property Composer\\\\Util\\\\Http\\\\CurlDownloader\\:\\:\\$jobs \\(array\\<array\\{url\\: string, origin\\: string, attributes\\: array\\{retryAuthFailure\\: bool, redirects\\: int\\<0, max\\>, retries\\: int\\<0, max\\>, storeAuth\\: 'prompt'\\|bool\\}, options\\: array, progress\\: array, curlHandle\\: resource, filename\\: string\\|null, headerHandle\\: resource, \\.\\.\\.\\}\\>\\) does not accept non\\-empty\\-array\\<array\\{url\\: string, origin\\: string, attributes\\: array\\{retryAuthFailure\\: bool, redirects\\: int\\<0, max\\>, retries\\: int\\<0, max\\>, storeAuth\\: 'prompt'\\|bool\\}, options\\: array, progress\\: array, curlHandle\\: CurlHandle\\|resource, filename\\: string\\|null, headerHandle\\: resource, \\.\\.\\.\\}\\>\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Property Composer\\\\Util\\\\Http\\\\CurlDownloader\\:\\:\\$multiHandle \\(resource\\|null\\) does not accept CurlMultiHandle\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Property Composer\\\\Util\\\\Http\\\\CurlDownloader\\:\\:\\$shareHandle \\(resource\\|null\\) does not accept CurlShareHandle\\.$#"
			count: 1
			path: ../src/Composer/Util/Http/CurlDownloader.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, int\\<0, max\\>\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Util/NoProxyPattern.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 2
			path: ../src/Composer/Util/Perforce.php

		-
			message: "#^Parameter \\#1 \\$stream of function fwrite expects resource, resource\\|false given\\.$#"
			count: 13
			path: ../src/Composer/Util/Perforce.php

		-
			message: "#^Parameter \\#1 \\$string1 of function strcmp expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Util/Perforce.php

		-
			message: "#^Parameter \\#2 \\$needle of function strpos expects string, string\\|null given\\.$#"
			count: 1
			path: ../src/Composer/Util/Perforce.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, int\\<0, max\\>\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Util/Perforce.php

		-
			message: "#^Parameter \\#1 \\$string of function base64_encode expects string, string\\|false given\\.$#"
			count: 1
			path: ../src/Composer/Util/RemoteFilesystem.php

		-
			message: "#^Parameter \\#5 \\$length of function file_get_contents expects int\\<0, max\\>\\|null, int given\\.$#"
			count: 1
			path: ../src/Composer/Util/RemoteFilesystem.php

		-
			message: "#^Parameter \\#1 \\$include_path of function set_include_path expects string, string\\|false given\\.$#"
			count: 2
			path: ../tests/Composer/Test/Autoload/AutoloadGeneratorTest.php

		-
			message: "#^Parameter \\#1 \\$string of function rtrim expects string, string\\|false given\\.$#"
			count: 2
			path: ../tests/Composer/Test/ConfigTest.php

		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\)\\: mixed, array\\{Composer\\\\Repository\\\\CompositeRepository, string\\} given\\.$#"
			count: 1
			path: ../tests/Composer/Test/Repository/CompositeRepositoryTest.php

		-
			message: "#^Parameter \\#1 \\$object of method ReflectionProperty\\:\\:getValue\\(\\) expects object\\|null, object\\|string given\\.$#"
			count: 1
			path: ../tests/Composer/Test/Util/RemoteFilesystemTest.php

