parameters:
    level: 1
    excludes_analyse:
       - '../tests/Composer/Test/Fixtures/*'
       - '../tests/Composer/Test/Autoload/Fixtures/*'
       - '../tests/Composer/Test/Plugin/Fixtures/*'
    ignoreErrors:
        # unused parameters
        - '~^Constructor of class Composer\\Repository\\VcsRepository has an unused parameter \$dispatcher\.$~'
        - '~^Constructor of class Composer\\Util\\Http\\CurlDownloader has an unused parameter \$disableTls\.$~'
        - '~^Constructor of class Composer\\Util\\Http\\CurlDownloader has an unused parameter \$options\.$~'

        # ion cube is not installed
        - '~^Function ioncube_loader_\w+ not found\.$~'

        # variables from global scope
        - '~^Undefined variable: \$vendorDir$~'
        - '~^Undefined variable: \$baseDir$~'

        # variable defined in eval
        - '~^Undefined variable: \$res$~'

        # we don't have different constructors for parent/child
        - '~^Unsafe usage of new static\(\)\.$~'

        # BC with older PHPUnit
        - '~^Call to an undefined static method PHPUnit\\Framework\\TestCase::setExpectedException\(\)\.$~'

        - # Windows SAPI functions, already checked before using them.
            message: '~^Function sapi_windows_set_ctrl_handler not found.$~'
            paths:
                - ../src/Composer/Command/CreateProjectCommand.php
                - ../src/Composer/Installer/InstallationManager.php

        - # ZipArchive::LIBZIP_VERSION Class constant is already checked before use.
            message: '~^Access to undefined constant ZipArchive::LIBZIP_VERSION.$~'
            path: ../src/Composer/Repository/PlatformRepository.php

    paths:
        - ../src
        - ../tests

rules:
    - Composer\PHPStanRules\AnonymousFunctionWithThisRule
